/*
 Revealator jQuery Plugin
 Revealator is a jQuery-based plugin for adding effects to elements that enter the window. It's simple, and easy to use.
 version 1.3, Jan 11th, 2016
 by Ingi á Steinamørk

 The MIT License (MIT)

 Copyright (c) 2016 Qodio

 Permission is hereby granted, free of charge, to any person obtaining a copy
 of this software and associated documentation files (the "Software"), to deal
 in the Software without restriction, including without limitation the rights
 to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 copies of the Software, and to permit persons to whom the Software is
 furnished to do so, subject to the following conditions:

 The above copyright notice and this permission notice shall be included in all
 copies or substantial portions of the Software.

 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 SOFTWARE.
 */

// Effects
.revealator-fade
.revealator-slideup
.revealator-slideleft
.revealator-slideright
.revealator-slidedown
.revealator-zoomin
.revealator-zoomout
.revealator-rotateleft
.revealator-rotateright
	/* Default effect duration */ 
	transition all 600ms
/* Fade effect */
.revealator-fade
	opacity 0
	&.revealator-within
	&.revealator-partially-above
	&.revealator-above
		opacity 1
/* Slide up effect */
.revealator-slideup
	transform translate(0, 100px)
	opacity 0
	&.revealator-within
	&.revealator-partially-above
	&.revealator-above
		transform translate(0, 0)
		opacity 1
/* Slide left effect */
.revealator-slideleft
	transform translate(100px, 0)
	opacity 0
	&.revealator-within
	&.revealator-partially-above
	&.revealator-above
		transform translate(0, 0)
		opacity 1
/* Slide right effect */
.revealator-slideright
	transform translate(-100px, 0)
	opacity 0
	&.revealator-within
	&.revealator-partially-above
	&.revealator-above
		transform translate(0, 0)
		opacity 1
/* Slide down effect */
.revealator-slidedown
	transform translate(0, -100px)
	opacity 0
	&.revealator-within
	&.revealator-partially-above
	&.revealator-above
		transform translate(0, 0)
		opacity 1
/* Zoom in effect */
.revealator-zoomin
	transform scale(.75)
	opacity 0
	&.revealator-within
	&.revealator-partially-above
	&.revealator-above
		transform scale(1)
		opacity 1
/* Zoom out effect */
.revealator-zoomout
	transform scale(1.5)
	opacity 0
	&.revealator-within
	&.revealator-partially-above
	&.revealator-above
		transform scale(1)
		opacity 1
/* Rotate left effect */
.revealator-rotateleft
	transform rotate(20deg)
	opacity 0
	&.revealator-within
	&.revealator-partially-above
	&.revealator-above
		transform rotate(0deg)
		opacity 1
/* Rotate right effect */
.revealator-rotateright
	transform rotate(-20deg)
	opacity 0
	&.revealator-within
	&.revealator-partially-above
	&.revealator-above
		transform rotate(0deg)
		opacity 1
		
	
// Delay
for i in 1..30
	.revealator-delay{i}
		transition-delay: i * 100ms !important
		&.revealator-below
		&.revealator-partially-below
			transition-delay: 0ms !important
// Speed
for i in 1..15
	.revealator-speed{i}
	.revealator-duration{i}
		transition-duration: i * 100ms !important

